# Configurações do VSCode
.vscode/

# Arquivos de log
*.log

# Arquivos temporários do sistema
*.tmp
*.temp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Pastas de dependências (caso venha a usar)
node_modules/

# Arquivos de backup e swap do editor
*~
*.swp

# Arquivos específicos do seu SO (Linux, Windows)
*.bak
*.old

# Arquivos que você gerar durante instalação/configuração
*.env
